.form {
    text-align: center;
    margin-top: 1.5em;
}

.button {
    color: #000;
    background-color: #1DB954;
    display: inline-block;
    margin-left: 10
}

.input{
    background-color: #000;
    color: #1DB954;
    display: inline-block;
}

@media only screen and (max-width: 767px) {
    .form {
       position: sticky; 
       top: 0px;
       padding: 10px;
       background-color: #202020;
    }

    .container {
        overflow-y: auto;
    }
}